
@media only screen and (max-width:600px)
            
{
    body{

        width: 400px;
        height: 400px;
        
        }
        img{
            height: 10px;
            width: 10px;


        }

    }
    


@media only screen and (max-width:400px){


body{
    img{
        height: 8px;
        width: 8px;

width: 400px;
height: 400px;

}
   
}
@media only screen and (max-width:200px){


    body{
        
    
    width: 200px;
height: 200px;    
    }
    img{
        height: 6px;
        width: 6px;
    }
        
    }
    @media only screen and (max-width:100px){


        body{
        
        width: 100px;
    height: 100px;   

        }
        img{
            height: 6px;
            width: 6px;
        }


    }
            